html {
  /* colors arranged alphabetically */
  --accent: #f5f5f5;
  --accent-foreground: #fafafa;
  --avatar: #fe4a71;
  --background: #eeeeee;
  --black: var(--card-foreground);
  --border: #e6e6e6;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --chart-1: #46f312;
  --successBadge: #E6FFED;
  --successBadgeText: #0ABC3C;
  --chart-2: #e03131;
  --chart-3: #00baff;
  --chart-4: #70a1ff;
  --chart-5: #e67300;
  --chart-6: #0e4a61;
  --chart-7: #00998f;
  --chart-8: #3a78af;
  --chart-9: #003462;
  --destructive: #e03131;
  --destructive-foreground: #fafafa;
  --errorBg: #ebd8d8;
  --error: #ea1717;
  --pink:#FFEDED;
  --pink-foreground: #BC0A0A;
  --foreground: #f4f7f9;
  --gray: #4b4b4b;
  --grey:#4E4E4E;
  --icon: #2e77e9;
  --info: #e67300;
  --infoBg: #f5dfca;
  --input: #e6e6e6;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --warning: #ffa500;
  --warningBg: #eee6cd;
  --popover-foreground: #0a0a0a;
  --primary: #ffe000;
  --profile-foreground: #f6f8f8;
  --profile-color: #4e4e4e;
  --profile-avatar-color: #36df14;
  --primary-foreground: #3698bd;
  --primaryBg: #9dc2cf;
  --ring: #0a0a0a;
  --radius: 0.5rem;
  --success: #2ecc71;
  --successBg: #d9f8e6;
  --popover: #ffffff;
  --secondary: #0c4f8a;
  --secondary-foreground: #191919;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --card: #0a0a0a;
  --card-foreground: #fafafa;
  --popover: #0a0a0a;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #191919;
  --secondary: #242424;
  --secondary-foreground: #fafafa;
  --muted: #242424;
  --muted-foreground: #a1a1a1;
  --accent: #242424;
  --accent-foreground: #fafafa;
  --destructive: #991b1b;
  --destructive-foreground: #fafafa;
  --border: #242424;
  --input: #242424;
  --ring: #d4d4d4;
  --chart-1: #6a5acd;
  --chart-2: #a0522d;
  --chart-3: #e6b800;
  --chart-4: #8a2be2;
  --chart-5: #ff4500;
}
